*{
    box-sizing: border-box;
    margin:0;
}

body{
    font-family: Arial;
}

.link{
    margin: 50px;
    display: inline-block;
    background-color: slateblue;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border-radius: 2em;
    transition: .3s;
}

/* .link:hover{
CUANDO PASA EL MOUSE

    background-color: tomato;
    transform: translateY(10px);
} */

/* CUANDO TINES PRESIONADO */
.link:active{
    background-color: tomato;
    transform: translateY(10px);
}

/* .element1{
    background-color: tomato;
    width: 200px;
    height: 200px;
    margin: 50px;
    transition: .3s;
} */

/* .element1:target{
    transform: translateX(100%);
} */

/*
.check{
    margin: 50px 20px;
}

.check:checked + .label{
    background-color: green;
}

.label{
    background-color: crimson;
    color: #fff;
    padding: 20px 15px;
}

.input{
    margin: 50px;
    width: 250px;
    height: 70px;
}

.input:focus{
    color: #fff;
    background-color: #000;
}
*/

/* PSEUDO ELEMENTOSS */

.element1{
    background-color: tomato;
    width: max-content;
    font-size: 2rem;
    color: #fff;
    /* height: 200px; */
    margin: 50px;
    /* transition: .3s; */
}

.element1::before{
    /* content: "Voy antes"; */
    content: "";
    display: block;
    width: 100px;
    height: 50px;
    background-color: #000;
}

.element1::after{
    /* content: "Voy despues"; */
    content: "";
    display: block;
    width: 100px;
    height: 50px;
    background-color: #000;
}


.validacion{
    padding: .5em 2em;
    margin: 50px;
    font-size: 1rem;
}


.validacion + .message::after{
    content: "Aun no escribes nada";
    display: block;
    background-color: green;
    padding:1em;
    color: #fff;
    margin: 0 auto;
    width: max-content;
}

.validacion:placeholder-shown + .message::after{
    content: "Aun no escribes nada";
    display: block;
    background-color: crimson;
    padding:1em;
    color: #fff;
    margin: 0 auto;
    width: max-content;
}



/* .validacion:placeholder-shown{
    background-color: #000;
    color: #fff;
} */