*{
    box-sizing: border-box;
    margin: 0;
}

/*
TIPOS DE ELEMENTO: BLOCK- INLINE

display:block; ->Se pueden alterar, tienen el 100% del contenedor y crean un salto de linea

display:inline; ->
*/

body{
    font-family: Arial;
}

.title{
    /* background-color: yellow; */

    /*Solo podemos agregar un margin auto dies block y tiene un width definido*/
    /* width: 30px; */
    margin: 0 auto;
    text-align: center;
}

.btn{
    /*Se ponen uno al lado de otro, solo adquierenn el tamaño de su contenido , No admite margenes, bordes y paddings VERTICALES*/
    background-color: purple;
    color: white;
    text-decoration: none;
    padding: 15px 0;
    display: block;
    width: 150px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 40px;
}

/*INLINE BLOCK siguesiendo en linea pero podemos utilizar propiedades del BOX MODEL*/


/* CARD*/
.card{
    background: #15273F;
    color: white;
    width: 300px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    padding: 20px 25px;
}

.card__img{
    width: 100%;
    height: 250px;
    display: block;
    object-fit: cover;
    border-radius: inherit;
}

.card__title{
    margin-top: 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.card__paragraph{
    color: #99b0d4;
}

.card__cta{
    display: block;
    background-color: white;
    color: #15273F;
    text-decoration: none;
    margin-top: 20px;
    padding: 15px 0;
    font-weight: bold;
    border-radius: 5px;
}

