* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  margin: 60px;
  background-color: tomato;
  animation-name: cambiar-color;
  animation-duration: 2s;
  animation-timing-function: ease-in-out; /*curva velocidda*/
  animation-iteration-count: infinite; /*veces que iterara*/
  animation-direction: alternate; /*para que la animacion no se devuelva al valor inicial de GOLPEs sino con una animacion*/
  animation-fill-mode: forwards; /*´para que se mantenga en el estado 100% de la animacion*/
  /* backwards tendra le valor de 0% */
  /*both*/
  animation-delay: 2s;
}

/* para pausar l animacio */
.box:hover {
  animation-play-state: paused;
}

@keyframes cambiar-color {
  /* from {
    width: 250px;
    background-color: #000;
  }
  100% {
    width: 300px;
    background-color: purple;
  } */
  0% {
    transform: translate(0);
    background-color: crimson;
  }
  25% {
    transform: translate(100%);
    background-color: salmon;
  }
  50% {
    transform: translate(100%, 100%);
    background-color: slateblue;
  }
  75% {
    transform: translate(0, 100%);
    background-color: teal;
  }
  100% {
    transform: translate(0);
    background-color: black;
  }
}

.bell {
  background-color: #3d3dcf;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 8px;
  display: flex;
  animation: infinite campana 1s;
}

.bell__item {
  margin: auto;
  width: 80px;
}

@keyframes campana {
  0% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
