*{
    box-sizing: border-box;
    margin: 0;
}

body{
    min-height: 500vh;
}

.container{
    width: 90%;
    margin: 40px auto;
    border: 4px solid;
}

.element{
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}

.static{
    background-color: tomato;
}

.relative{
    background-color: slateblue;
    position: relative;
    /*Desbloquea*/
    /* top:50px; */
    bottom: 30px;
    border: 4px solid crimson;
    z-index: 1;
}


.absolute{
    background-color: teal;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
}

.fixed{
    background-color: crimson;
    position: fixed;
    left: 0;
    top:250px;
}